    * {
        Margin: 0;
        Padding: 0;
        Box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
    }

    header {
        background-image: url(image/coeur\ motif.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;

    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-image: url(./image/gris2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        flex: 1;
    }

    footer {
        background-image: url(image/coeur\ motif.jpg);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    footer>h2 {
        font-size: xx-large;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }



    nav {

        padding: 10px;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
    }

    ul {
        display: flex;
        justify-content: space-around;

    }

    li {
        list-style: none;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    a:hover {
        color: red;
    }

    h1 {
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        margin-left: 20px;
        margin-right: 20px;
    }

    hgroup {
        text-align: right;
        padding-right: 16px;
        border-right: 10px 
    }

    hgroup h1 {
        margin-bottom: 0;
    }

    hgroup p {
        margin: 0;
        font-weight: bold;
    }

    img {
        width: 100%;
        height: auto;
    }

    li {
        list-style-type: square;
    }

    article.pack5 ul {
        display: block;
        text-align: left;
        padding-left: 2em;
        list-style-position: inside;
    }

    article.pack5 li {
        padding: 2px 0;
        margin: 0, 2em 0;
        font-size: 1em;
    }

    nav ul li {
        list-style-type: none;
    }

    main.box1-wiplash {
        flex: 1 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 0;
    }

    .zoom img:hover {
        width: 90%;
        cursor: pointer;
    }

    .box1>p {

        font-size: x-large;
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 3rem;
        border: 1rem solid;
        border-color: rgb(0, 0, 0)
    }

    .box2>p {

        font-size: x-large;
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        padding-top: 28px;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 4rem;
        border: 1rem solid;
    }

    .box3>p {

        font-size: x-large;
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 3rem;
        border: 1rem solid;
    }


    .cinema {

        height: 600px;

    }

    .contenair-cinema {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-image: url(image/jaune2.jpg);

    }

    .contenair-cinema .box1,
    .box2,
    .box3>h3 {
        text-align: center;


    }

    .contenair-text {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: x-large;


    }

    .media {
        color: rgb(0, 0, 0);
        font-size: xx-large;

    }

    .contenair-text-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 200px;
        font-size: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 700;
        margin-left: 20px;
        margin-right: 20px;
    }

    .contenair-main {
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

    .box1-wiplash {
       background-color: bisque;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 0;


    }

    .contenair1-wiplash {
      
        display: grid;
        grid-template-areas:

            "b b c"
            "b b c";
        gap: 10px;
        padding-right: 10px;


    }

    .contenair2-wiplash {
        background-color: bisque;
        display: grid;
        grid-template-areas:
            "d d d"
            "e e e"
            "e e e";
        gap: 10px;
    }

    .pack1 {
       background-color: bisque;
        grid-area: a;
        font-size: xx-large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, bold;
        text-align: center;
    }




    .pack2 {
       background-color: bisque;
        grid-area: b;

    }

    .pack3 {
     background-color: bisque;
        grid-area: c;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: max-content;


    }

    .pack4 {
       background-color: bisque;
        grid-area: d;
        min-height: 400px
       

    }


    .pack5 {
        background-color: bisque;
        background-image: url(./image/orange.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: e;
        padding-left: 30px;

    }

    .pack5>h2 {
        text-align: center;
    }


    .titre {

        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }

    .sous-titre {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .text {
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .encadre-img {
        border: 5px solid #000000;
        border-radius: 6px;
        padding-top: 10px;
        /* Optionnel : espace entre l'image et la bordure */
    }
    
