* { 
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box; 
}

header {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: aqua;
}

footer {
    background-color: rgb(214, 14, 14);
    display: flex;
}

nav {
    background-color: bisque;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}           

h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
}
.cinema {
    width: 600px;
   
}
